body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    color: #f9faf8;
    margin: 0;
    height: 100vh;
}

header {
    flex: none;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    padding: 24px 15%;
 
}

footer {
    flex: 0 0 80px;
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
    width: 128px;
    border: none;
}

.header-links {
    flex: none;
    margin-left: auto;
    display: flex;
    gap: 32px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}

.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    flex: auto;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 24px 15%;
}

.hero .text {
    flex: 1 1 410px;
    display: flex;
    flex-direction: column;
}

.hero .text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero-image {
    flex: 1 3 410px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 100px 48px;
}

.hero-image p {
    flex: auto;
}

.random-info {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 15%;
    gap: 32px;
}

.random-info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    width: 460px;
    margin: 0;
}

.images {
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.images .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images .text p {
    color: gray;
    text-align: center;
    width: 150px;
}

.images .placeholder {
    height: 128px;
    width: 128px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.quote {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px 20%;
    background-color: #e5e7eb;
    color: #1f2937;
    gap: 24px;
}

.quote em {
    font-size: 32px;
    font-weight: 300;
}

.quote strong {
    font-size: 22px;
    align-self: flex-end;
}

.signup {
    flex: auto;
    display: flex;
    padding: 24px 8%;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 48px 10%;
    border-radius: 8px;
    gap: 64px;
}

.signup h3 {
    font-size: 1.5rem;
    margin: auto;
}

.signup p {
    width: 440px;
    margin: auto;
}

.signup button {
    border: 2px solid #e5e7eb;
    width: 128px;
}